In [3]:
#Arthmetic operators
a=int(input("enter first value"))
b=int(input("enter second value"))
#addition
add=a+b
print("add:",add)
#subtraction
sub=a-b
print("sub:",sub)
#multiplication
mul=a*b
print("mul:",mul)
#division
div=a/b
print("div:",div)
#modulos
mod=a%b
print("mod:",mod)
#expo
expo=a**b
print("expo:",expo)
#floor
floor=a//b
print("floor:",floor)

enter first value 10
enter second value 3

add: 13
sub: 7
mul: 30
div: 3.3333333333333335
mod: 1
expo: 1000
floor: 3

In [7]:
#Comparision operators
a=int(input("enter a number"))
b=int(input("enter a number"))
#greater
if(a>b):
    print("a is greater than b:",(a>b))
#equal
elif(a==b):
    print("a is equal to b:",(a==b))
#lesser
else:
    print("a is lesser than equal b:",(a<=b))

enter a number 20
enter a number 10

a is greater than b: True

In [15]:
#Logical operators
a=True
b=False
c=True
print( a and b and c)
print(a or b or c)
print(not a, not b, not c)

False
True
False True False

In [17]:
#String manipulation
a=input("enter a string")
print(len(a))#to print length of string
print(a[0],a[-1]) #to print first and last character character 
print(''.join(reversed(a)))  #''.join(reversed(a))... joins the character produced by reversed() iterator into a single string.
print(a.upper())#to print upper case
print(a.lower())#to print lower case

enter a string naveen

6
n n
neevan
NAVEEN
naveen

In [13]:
#String formatting
a=input("enter ur name")
b=input("enter your age")
print("Hello "+a)# to concatenate the a with hello we use +
print("you are "+b+ "years old")# to concatenate the b with following print statment we use +

enter ur name Naveen
enter your age 22

Hello Naveen
you are 22years old

In [19]:
#Substring search
sen=input("enter a sentence:")
word=input("enter a word to find:")
words=sen.split()#split the sentence into words
#check if word is present in sentence are not
if word in words:
    position=words.index(word)
    print("the word is present at position:",position)
else:
    print("the word is not present")

enter a sentence: hi iam groot
enter a word to find: groot

the word is present at position: 2

In [3]:
#List operators
x=input("enter  five elements seperated by space:").split()
x=[int(i) for i in x]#to convert each element in the list from string to integer
print(sum(x))
print(min(x))
print(max(x))

enter  five elements seperated by space: 10 20 30 40 50

150
10
50

In [1]:
#List manipulation
x=['banana','apple','guava','cherry','grapes']
x.append('blackberry')#append is used to add item in list
print(x)
x.remove(x[2])#remove is used to remove the item from the list
print("updated list of x:",x)

['banana', 'apple', 'guava', 'cherry', 'grapes', 'blackberry']
updated list of x: ['banana', 'apple', 'cherry', 'grapes', 'blackberry']

In [5]:
#sorting a list
x=input("enter a list of 5 elements sepreated by space:").split()
x.sort()
print("ascending order:",x)
x.sort(reverse=True)
print("descending order:",x)

enter a list of 5 elements sepreated by space: 22 43 56 12 33

ascending order: ['12', '22', '33', '43', '56']
descending order: ['56', '43', '33', '22', '12']

In [7]:
#list slicing
x=[1,2,3,4,5,6,7,8,9,10]
print(x[:5])
print(x[-5:])
print(x[2:8])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8]

In [9]:
#nested list
s1=input("enter first name of student:")
marks1=[float(input("enter first subject marks:")),float(input("enter second subject marks:")),float(input("enter third subject marks:"))]
s2=input("enter second name of student:")
marks2=[float(input("enter first subject marks:")),float(input("enter second subject marks:")),float(input("enter third subject marks:"))]
s3=input("enter third name of student:")
marks3=[float(input("enter first subject marks:")),float(input("enter second subject marks:")),float(input("enter third subject marks:"))]
avg1=sum(marks1)/3
avg2=sum(marks2)/3
avg3=sum(marks3)/3
print(s1 + ":average score="+str(round(avg1,2)))
print(s2 + ":average score="+str(round(avg2,2)))
print(s3 + ":average score="+str(round(avg3,2)))

enter first name of student: nani
enter first subject marks: 80
enter second subject marks: 75
enter third subject marks: 88
enter second name of student: priya
enter first subject marks: 90
enter second subject marks: 95
enter third subject marks: 92
enter third name of student: riya
enter first subject marks: 87
enter second subject marks: 94
enter third subject marks: 78

nani:average score=81.0
priya:average score=92.33
riya:average score=86.33